html :where(.wp-block) {
	margin-top: 0;
	margin-bottom: 0;
	max-width: var(--width-contained);
}

.block-editor-block-list__layout {
	container-type: inline-size;
}

.block-editor-inner-blocks .block-editor-block-list__layout {
	container-type: unset;
}

.block-editor-block-list__block {
	font-family: var(--font-family-body);

	&.wp-block-comet-container {

		&.has-background {
			padding-block: var(--spacing-sm);
		}

		&.is-style-default {
			max-width: var(--width-contained);
		}

		&.is-style-wide {
			max-width: var(--width-wide);
		}

		&.is-style-narrow {
			max-width: var(--width-narrow);
		}
	}
}

.block-list-appender {
	margin: 0 auto;
}

.acf-block-component .acf-block-fields {
	font-family: inherit;
}
