@charset "UTF-8";
.page-section {
  padding-block: var(--spacing-md);
}
@media (min-width: 960px) {
  .page-section {
    padding-block: var(--spacing-xl);
  }
}
@media (min-width: 1440px) {
  .page-section {
    padding-block: var(--spacing-xxl);
  }
}
.page-section[data-background=primary] + .page-section[data-background=primary] {
  padding-block-start: 0;
}
.page-section[data-background=secondary] + .page-section[data-background=secondary] {
  padding-block-start: 0;
}
.page-section[data-background=accent] + .page-section[data-background=accent] {
  padding-block-start: 0;
}
.page-section[data-background=warning] + .page-section[data-background=warning] {
  padding-block-start: 0;
}
.page-section[data-background=error] + .page-section[data-background=error] {
  padding-block-start: 0;
}
.page-section[data-background=light] + .page-section[data-background=light] {
  padding-block-start: 0;
}
.page-section[data-background=dark] + .page-section[data-background=dark] {
  padding-block-start: 0;
}
.page-section[data-background=white] + .page-section[data-background=white] {
  padding-block-start: 0;
}
.page-section:not([data-background]) + .page-section:not([data-background]) {
  padding-block-start: 0;
}

.container {
  margin: 0 auto;
  container-type: inline-size;
  width: 100%;
  max-width: var(--width-contained);
  padding-inline: var(--spacing-sm);
}
.container [data-size=fullwidth], [data-size=fullwidth] .container {
  max-width: 100vw;
}
.container [data-size=wide], [data-size=wide] .container {
  max-width: var(--width-wide);
}
.container [data-size=narrow], [data-size=narrow] .container {
  max-width: var(--width-narrow);
}

.group {
  padding-block: var(--spacing-md);
}
@media (min-width: 960px) {
  .group {
    padding-block: var(--spacing-xl);
  }
}
@media (min-width: 1440px) {
  .group {
    padding-block: var(--spacing-xxl);
  }
}
.group[data-background=primary] + .group[data-background=primary] {
  padding-block-start: 0;
}
.group[data-background=secondary] + .group[data-background=secondary] {
  padding-block-start: 0;
}
.group[data-background=accent] + .group[data-background=accent] {
  padding-block-start: 0;
}
.group[data-background=warning] + .group[data-background=warning] {
  padding-block-start: 0;
}
.group[data-background=error] + .group[data-background=error] {
  padding-block-start: 0;
}
.group[data-background=light] + .group[data-background=light] {
  padding-block-start: 0;
}
.group[data-background=dark] + .group[data-background=dark] {
  padding-block-start: 0;
}
.group[data-background=white] + .group[data-background=white] {
  padding-block-start: 0;
}
.group:not([data-background]) + .group:not([data-background]) {
  padding-block-start: 0;
}
.column .group:first-child {
  padding-block-start: 0;
}
.column .group:last-child {
  padding-block-end: 0;
}
.group--breakout {
  width: max-content;
}
.container .group--breakout {
  max-width: var(--width-contained);
}
[data-size=fullwidth] .group--breakout {
  max-width: 100vw;
}
[data-size=wide] .group--breakout {
  max-width: var(--width-wide);
}
[data-size=narrow] .group--breakout {
  max-width: var(--width-narrow);
}

.columns {
  padding-inline: var(--spacing-md);
  display: grid;
  grid-gap: var(--spacing-md);
}
.container > .columns {
  padding-inline: 0;
}
.columns + .columns {
  padding-block: var(--spacing-md);
}
@media (min-width: 960px) {
  .columns + .columns {
    padding-block: var(--spacing-xl);
  }
}
@media (min-width: 1440px) {
  .columns + .columns {
    padding-block: var(--spacing-xxl);
  }
}
.columns + .columns[data-background=primary] + .columns + .columns[data-background=primary] {
  padding-block-start: 0;
}
.columns + .columns[data-background=secondary] + .columns + .columns[data-background=secondary] {
  padding-block-start: 0;
}
.columns + .columns[data-background=accent] + .columns + .columns[data-background=accent] {
  padding-block-start: 0;
}
.columns + .columns[data-background=warning] + .columns + .columns[data-background=warning] {
  padding-block-start: 0;
}
.columns + .columns[data-background=error] + .columns + .columns[data-background=error] {
  padding-block-start: 0;
}
.columns + .columns[data-background=light] + .columns + .columns[data-background=light] {
  padding-block-start: 0;
}
.columns + .columns[data-background=dark] + .columns + .columns[data-background=dark] {
  padding-block-start: 0;
}
.columns + .columns[data-background=white] + .columns + .columns[data-background=white] {
  padding-block-start: 0;
}
.columns + .columns:not([data-background]) + .columns + .columns:not([data-background]) {
  padding-block-start: 0;
}
@container (min-width: 960px) {
  .columns {
    grid-gap: var(--spacing-lg);
  }
}
.columns[data-count="2"][data-allow-layout-stacking=true], .columns[data-count="4"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
  grid-template-columns: repeat(1, 1fr);
}
@container (max-width: 600px) {
  .columns[data-count="2"][data-allow-layout-stacking=true], .columns[data-count="4"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
    flex-wrap: wrap;
  }
  .columns[data-count="2"][data-allow-layout-stacking=true] .column, .columns[data-count="4"][data-allow-layout-stacking=true] .column, .columns[data-count="6"][data-allow-layout-stacking=true] .column {
    grid-column: 1/-1;
    width: 100% !important;
    flex-basis: 100% !important;
    min-width: 100%;
  }
}
@container (min-width: 600px) {
  .columns[data-count="2"][data-allow-layout-stacking=true], .columns[data-count="4"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container (min-width: 960px) {
  .columns[data-count="4"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(4, 1fr);
  }
}
@container (min-width: 768px) {
  .columns[data-count="3"][data-allow-layout-stacking=true], .columns[data-count="6"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(3, 1fr);
  }
}
@container (min-width: 960px) {
  .columns[data-count="5"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(5, 1fr);
  }
}
@container (min-width: 960px) {
  .columns[data-count="6"][data-allow-layout-stacking=true] {
    grid-template-columns: repeat(5, 1fr);
  }
}
.columns:has(> .columns__column--has-own-width) {
  display: flex;
  gap: var(--spacing-md);
}
@container (min-width: 960px) {
  .columns:has(> .columns__column--has-own-width) {
    gap: var(--spacing-lg);
  }
}

.column {
  min-width: 0;
  display: flex;
}
.column__inner {
  display: flow-root;
  width: 100%;
}

.button-group {
  display: flex;
  gap: var(--spacing-sm);
  padding-block: var(--spacing-sm);
}

.button {
  display: inline-block;
  padding: var(--spacing-sm) var(--spacing-lg);
  border: none;
  appearance: none;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  border-radius: var(--button-border-radius);
}
.button > span {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s, color 0.3s;
}
.button:hover > span, .button:focus > span, .button:active > span {
  text-decoration-color: currentColor;
}
.button:has(i, svg) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}
.button--primary:not([class*="--outline"]) {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--readable-color-primary);
}
.button--primary:not([class*="--outline"]):hover, .button--primary:not([class*="--outline"]):focus, .button--primary:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-primary) 80%, black);
  border-color: color-mix(in srgb, var(--color-primary) 80%, black);
  color: var(--readable-color-primary);
}
.button--primary--outline {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  color: var(--color-primary);
}
.button--primary--outline:hover, .button--primary--outline:focus, .button--primary--outline:active {
  background: var(--color-primary);
  color: var(--readable-color-primary);
}
.button--secondary:not([class*="--outline"]) {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--readable-color-secondary);
}
.button--secondary:not([class*="--outline"]):hover, .button--secondary:not([class*="--outline"]):focus, .button--secondary:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-secondary) 80%, black);
  border-color: color-mix(in srgb, var(--color-secondary) 80%, black);
  color: var(--readable-color-secondary);
}
.button--secondary--outline {
  border: 1px solid var(--color-secondary);
  background-color: transparent;
  color: var(--color-secondary);
}
.button--secondary--outline:hover, .button--secondary--outline:focus, .button--secondary--outline:active {
  background: var(--color-secondary);
  color: var(--readable-color-secondary);
}
.button--accent:not([class*="--outline"]) {
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  color: var(--readable-color-accent);
}
.button--accent:not([class*="--outline"]):hover, .button--accent:not([class*="--outline"]):focus, .button--accent:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-accent) 80%, black);
  border-color: color-mix(in srgb, var(--color-accent) 80%, black);
  color: var(--readable-color-accent);
}
.button--accent--outline {
  border: 1px solid var(--color-accent);
  background-color: transparent;
  color: var(--color-accent);
}
.button--accent--outline:hover, .button--accent--outline:focus, .button--accent--outline:active {
  background: var(--color-accent);
  color: var(--readable-color-accent);
}
.button--warning:not([class*="--outline"]) {
  background-color: var(--color-warning);
  border: 1px solid var(--color-warning);
  color: var(--readable-color-warning);
}
.button--warning:not([class*="--outline"]):hover, .button--warning:not([class*="--outline"]):focus, .button--warning:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-warning) 80%, black);
  border-color: color-mix(in srgb, var(--color-warning) 80%, black);
  color: var(--readable-color-warning);
}
.button--warning--outline {
  border: 1px solid var(--color-warning);
  background-color: transparent;
  color: var(--color-warning);
}
.button--warning--outline:hover, .button--warning--outline:focus, .button--warning--outline:active {
  background: var(--color-warning);
  color: var(--readable-color-warning);
}
.button--error:not([class*="--outline"]) {
  background-color: var(--color-error);
  border: 1px solid var(--color-error);
  color: var(--readable-color-error);
}
.button--error:not([class*="--outline"]):hover, .button--error:not([class*="--outline"]):focus, .button--error:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-error) 80%, black);
  border-color: color-mix(in srgb, var(--color-error) 80%, black);
  color: var(--readable-color-error);
}
.button--error--outline {
  border: 1px solid var(--color-error);
  background-color: transparent;
  color: var(--color-error);
}
.button--error--outline:hover, .button--error--outline:focus, .button--error--outline:active {
  background: var(--color-error);
  color: var(--readable-color-error);
}
.button--light:not([class*="--outline"]) {
  background-color: var(--color-light);
  border: 1px solid var(--color-light);
  color: var(--readable-color-light);
}
.button--light:not([class*="--outline"]):hover, .button--light:not([class*="--outline"]):focus, .button--light:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-light) 80%, black);
  border-color: color-mix(in srgb, var(--color-light) 80%, black);
  color: var(--readable-color-light);
}
.button--light--outline {
  border: 1px solid var(--color-light);
  background-color: transparent;
  color: var(--color-light);
}
.button--light--outline:hover, .button--light--outline:focus, .button--light--outline:active {
  background: var(--color-light);
  color: var(--readable-color-light);
}
.button--dark:not([class*="--outline"]) {
  background-color: var(--color-dark);
  border: 1px solid var(--color-dark);
  color: var(--readable-color-dark);
}
.button--dark:not([class*="--outline"]):hover, .button--dark:not([class*="--outline"]):focus, .button--dark:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-dark) 80%, black);
  border-color: color-mix(in srgb, var(--color-dark) 80%, black);
  color: var(--readable-color-dark);
}
.button--dark--outline {
  border: 1px solid var(--color-dark);
  background-color: transparent;
  color: var(--color-dark);
}
.button--dark--outline:hover, .button--dark--outline:focus, .button--dark--outline:active {
  background: var(--color-dark);
  color: var(--readable-color-dark);
}
.button--white:not([class*="--outline"]) {
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  color: var(--readable-color-white);
}
.button--white:not([class*="--outline"]):hover, .button--white:not([class*="--outline"]):focus, .button--white:not([class*="--outline"]):active {
  background-color: color-mix(in srgb, var(--color-white) 80%, black);
  border-color: color-mix(in srgb, var(--color-white) 80%, black);
  color: var(--readable-color-white);
}
.button--white--outline {
  border: 1px solid var(--color-white);
  background-color: transparent;
  color: var(--color-white);
}
.button--white--outline:hover, .button--white--outline:focus, .button--white--outline:active {
  background: var(--color-white);
  color: var(--readable-color-white);
}

.call-to-action {
  padding: var(--spacing-lg);
  text-align: center;
}
@container (min-width: 600px) {
  .call-to-action {
    text-align: revert;
  }
}
@container (min-width: 960px) {
  .call-to-action {
    padding: var(--spacing-xl);
  }
}
.call-to-action .button-group:last-child {
  padding-block-end: 0;
}

.tabs {
  margin-bottom: var(--spacing-lg);
}
.tabs__tab-list {
  margin: 0;
  padding: 0;
}
.tabs__tab-list__item {
  display: block;
}
.tabs__tab-list__item strong {
  display: block;
}
.tabs__tab-list__item [role=tab] {
  appearance: none;
  border: 0;
  background: unset;
  text-align: match-parent;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: var(--spacing-xs) var(--spacing-sm);
  text-decoration-color: transparent;
  color: inherit;
}
.tabs__tab-list__item [role=tab]:focus {
  text-decoration-color: currentColor;
}
.tabs__tab-list__item [role=tab][aria-selected=true], .tabs__tab-list__item [role=tab]:hover, .tabs__tab-list__item [role=tab]:focus, .tabs__tab-list__item [role=tab]:active {
  background: rgba(255, 255, 255, 0.25);
}
.tabs__content {
  background: white;
}
.tabs__content__tab-panel {
  display: none;
}
.tabs__content__tab-panel.active {
  display: block;
}
.tabs__content[data-color-theme=primary] h2, .tabs__content[data-color-theme=primary] h3 {
  color: var(--color-primary);
}
.tabs__content[data-color-theme=secondary] h2, .tabs__content[data-color-theme=secondary] h3 {
  color: var(--color-secondary);
}
.tabs__content[data-color-theme=accent] h2, .tabs__content[data-color-theme=accent] h3 {
  color: var(--color-accent);
}
.tabs__content[data-color-theme=warning] h2, .tabs__content[data-color-theme=warning] h3 {
  color: var(--color-warning);
}
.tabs__content[data-color-theme=error] h2, .tabs__content[data-color-theme=error] h3 {
  color: var(--color-error);
}
.tabs__content[data-color-theme=light] h2, .tabs__content[data-color-theme=light] h3 {
  color: var(--color-light);
}
.tabs__content[data-color-theme=dark] h2, .tabs__content[data-color-theme=dark] h3 {
  color: var(--color-dark);
}
.tabs__content[data-color-theme=white] h2, .tabs__content[data-color-theme=white] h3 {
  color: var(--color-white);
}
.tabs[data-orientation=vertical] {
  container-type: inline-size;
  display: flex;
  flex-direction: row;
}
.tabs[data-orientation=vertical] .tabs__tab-list {
  width: 100%;
  margin: 0;
}
@container (min-width: 600px) {
  .tabs[data-orientation=vertical] .tabs__tab-list {
    width: 14rem;
    flex-basis: 14rem;
    min-width: 14rem;
  }
}
.tabs[data-orientation=vertical] .tabs__content {
  width: 100%;
}
@container (min-width: 600px) {
  .tabs[data-orientation=vertical] .tabs__content {
    width: auto;
    flex-basis: auto;
    flex-grow: 1;
  }
}

.pullquote {
  text-align: center;
  padding: var(--spacing-md);
  margin-block: var(--spacing-lg);
  position: relative;
}
.pullquote::before, .pullquote::after {
  font-family: var(--font-family-accent);
  font-size: 12rem;
  position: absolute;
  height: 4rem;
}
.pullquote::before {
  content: open-quote;
  top: 0;
  left: 0;
  transform: rotate(15deg) translateY(-2.5rem) translateX(-1rem);
  transform-origin: center center;
}
.pullquote::after {
  content: close-quote;
  bottom: var(--spacing-lg);
  transform: rotate(15deg) translateX(1rem);
  right: 0;
}
.pullquote[data-color-theme=primary] {
  color: var(--color-primary);
  background: color-mix(in srgb, var(--color-primary) 5%, white);
}
.pullquote[data-color-theme=primary]::before, .pullquote[data-color-theme=primary]::after {
  color: color-mix(in srgb, var(--color-primary) 25%, white);
}
.pullquote[data-color-theme=secondary] {
  color: var(--color-secondary);
  background: color-mix(in srgb, var(--color-secondary) 5%, white);
}
.pullquote[data-color-theme=secondary]::before, .pullquote[data-color-theme=secondary]::after {
  color: color-mix(in srgb, var(--color-secondary) 25%, white);
}
.pullquote[data-color-theme=accent] {
  color: var(--color-accent);
  background: color-mix(in srgb, var(--color-accent) 5%, white);
}
.pullquote[data-color-theme=accent]::before, .pullquote[data-color-theme=accent]::after {
  color: color-mix(in srgb, var(--color-accent) 25%, white);
}
.pullquote[data-color-theme=warning] {
  color: var(--color-warning);
  background: color-mix(in srgb, var(--color-warning) 5%, white);
}
.pullquote[data-color-theme=warning]::before, .pullquote[data-color-theme=warning]::after {
  color: color-mix(in srgb, var(--color-warning) 25%, white);
}
.pullquote[data-color-theme=error] {
  color: var(--color-error);
  background: color-mix(in srgb, var(--color-error) 5%, white);
}
.pullquote[data-color-theme=error]::before, .pullquote[data-color-theme=error]::after {
  color: color-mix(in srgb, var(--color-error) 25%, white);
}
.pullquote[data-color-theme=light] {
  color: var(--color-light);
  background: color-mix(in srgb, var(--color-light) 5%, white);
}
.pullquote[data-color-theme=light]::before, .pullquote[data-color-theme=light]::after {
  color: color-mix(in srgb, var(--color-light) 25%, white);
}
.pullquote[data-color-theme=dark] {
  color: var(--color-dark);
  background: color-mix(in srgb, var(--color-dark) 5%, white);
}
.pullquote[data-color-theme=dark]::before, .pullquote[data-color-theme=dark]::after {
  color: color-mix(in srgb, var(--color-dark) 25%, white);
}
.pullquote[data-color-theme=white] {
  color: var(--color-white);
  background: color-mix(in srgb, var(--color-white) 5%, white);
}
.pullquote[data-color-theme=white]::before, .pullquote[data-color-theme=white]::after {
  color: color-mix(in srgb, var(--color-white) 25%, white);
}
.pullquote p {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
  position: relative;
  z-index: 10;
}
.pullquote cite {
  font-size: var(--font-size-sm);
}

.image:not(.gallery .image):not(:first-child):not(:last-child) {
  margin-block: var(--spacing-md);
}
.image img {
  display: block;
  max-width: 100%;
}
.image[data-aspect-ratio=square] {
  aspect-ratio: 1/1;
}
.image[data-aspect-ratio=standard] {
  aspect-ratio: 4/3;
}
.image[data-aspect-ratio=portrait] {
  aspect-ratio: 3/4;
}
.image[data-aspect-ratio="16-9"] {
  aspect-ratio: 16/9;
}
.image[data-aspect-ratio=classic] {
  aspect-ratio: 3/2;
}
.image[data-aspect-ratio=classic-portrait] {
  aspect-ratio: 2/3;
}
.image[data-behaviour=cover] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.image[data-behaviour=contain] img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.image[data-align=left] {
  float: left;
  margin-right: var(--spacing-md);
}
.image[data-align=right] {
  float: right;
  margin-left: var(--spacing-md);
}
.image[data-align=center] img {
  width: auto;
  margin: 0 auto;
  display: block;
}

/*!
 * baguetteBox.js
 * @author  feimosi
 * @version %%INJECT_VERSION%%
 * @url https://github.com/feimosi/baguetteBox.js
 */
#baguetteBox-overlay {
  display: none;
  opacity: 0;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s ease;
}
#baguetteBox-overlay.visible {
  opacity: 1;
}
#baguetteBox-overlay .full-image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
#baguetteBox-overlay .full-image figure {
  display: inline;
  margin: 0;
  height: 100%;
}
#baguetteBox-overlay .full-image img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#baguetteBox-overlay .full-image figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 1.8;
  white-space: normal;
  color: #ccc;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: sans-serif;
}
#baguetteBox-overlay .full-image:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}

#baguetteBox-slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  transition: left 0.4s ease, transform 0.4s ease;
}
#baguetteBox-slider.bounce-from-right {
  animation: bounceFromRight 0.4s ease-out;
}
#baguetteBox-slider.bounce-from-left {
  animation: bounceFromLeft 0.4s ease-out;
}

@keyframes bounceFromRight {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: -30px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes bounceFromLeft {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 30px;
  }
  100% {
    margin-left: 0;
  }
}
.baguetteBox-button#previous-button, .baguetteBox-button#next-button {
  top: 50%;
  top: calc(50% - 30px);
  width: 44px;
  height: 60px;
}

.baguetteBox-button {
  position: absolute;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 15%;
  background-color: #323232;
  background-color: rgba(50, 50, 50, 0.5);
  color: #ddd;
  font: 1.6em sans-serif;
  transition: background-color 0.4s ease;
}
.baguetteBox-button:focus, .baguetteBox-button:hover {
  background-color: rgba(50, 50, 50, 0.9);
}
.baguetteBox-button#next-button {
  right: 2%;
}
.baguetteBox-button#previous-button {
  left: 2%;
}
.baguetteBox-button#close-button {
  top: 20px;
  right: 2%;
  right: calc(2% + 6px);
  width: 30px;
  height: 30px;
}
.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
  animation-delay: -1s;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.gallery {
  display: grid;
  grid-gap: var(--spacing-md);
  margin-block: var(--spacing-md);
}
.gallery[data-interim-columns="2"] {
  grid-template-columns: repeat(2, 1fr);
}
.gallery[data-interim-columns="3"] {
  grid-template-columns: repeat(3, 1fr);
}
@container (min-width: 768px) {
  .gallery[data-max-columns="1"] {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery[data-max-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery[data-max-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery[data-max-columns="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  .gallery[data-max-columns="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
  .gallery[data-max-columns="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
  .gallery[data-max-columns="7"] {
    grid-template-columns: repeat(7, 1fr);
  }
  .gallery[data-max-columns="8"] {
    grid-template-columns: repeat(8, 1fr);
  }
}
.gallery__image {
  margin: 0;
}
.gallery__image__caption {
  display: block;
  text-align: center;
  font-size: var(--font-size-sm);
}
.gallery__caption {
  display: block;
  text-align: center;
  grid-column: 1/-1;
}

.callout {
  padding: var(--spacing-md);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-md);
  margin-block: var(--spacing-md);
}
.callout--primary {
  border: 1px solid var(--color-primary);
  border-left-width: var(--spacing-xxs);
  color: var(--color-primary);
  background-color: hsl(from var(--color-primary) h s l/0.05);
}
.callout--secondary {
  border: 1px solid var(--color-secondary);
  border-left-width: var(--spacing-xxs);
  color: var(--color-secondary);
  background-color: hsl(from var(--color-secondary) h s l/0.05);
}
.callout--accent {
  border: 1px solid var(--color-accent);
  border-left-width: var(--spacing-xxs);
  color: var(--color-accent);
  background-color: hsl(from var(--color-accent) h s l/0.05);
}
.callout--warning {
  border: 1px solid var(--color-warning);
  border-left-width: var(--spacing-xxs);
  color: var(--color-warning);
  background-color: hsl(from var(--color-warning) h s l/0.05);
}
.callout--error {
  border: 1px solid var(--color-error);
  border-left-width: var(--spacing-xxs);
  color: var(--color-error);
  background-color: hsl(from var(--color-error) h s l/0.05);
}
.callout--light {
  border: 1px solid var(--color-light);
  border-left-width: var(--spacing-xxs);
  color: var(--color-light);
  background-color: hsl(from var(--color-light) h s l/0.05);
}
.callout--dark {
  border: 1px solid var(--color-dark);
  border-left-width: var(--spacing-xxs);
  color: var(--color-dark);
  background-color: hsl(from var(--color-dark) h s l/0.05);
}
.callout--white {
  border: 1px solid var(--color-white);
  border-left-width: var(--spacing-xxs);
  color: var(--color-white);
  background-color: hsl(from var(--color-white) h s l/0.05);
}
.callout i, .callout svg {
  font-size: var(--spacing-lg);
}
.callout__content {
  flex-grow: 1;
}
.callout__content h2 {
  margin-block-end: 0;
}

.file-group__file {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-sm);
  margin-block-end: var(--spacing-sm);
  text-decoration: none;
  padding: var(--spacing-sm);
  transition: background 0.2s linear;
}
[data-color-theme=primary] .file-group__file, .file-group__file[data-color-theme=primary] {
  background: color-mix(in srgb, var(--color-primary) 10%, white);
}
[data-color-theme=primary] .file-group__file:hover, [data-color-theme=primary] .file-group__file:focus, [data-color-theme=primary] .file-group__file:active, .file-group__file[data-color-theme=primary]:hover, .file-group__file[data-color-theme=primary]:focus, .file-group__file[data-color-theme=primary]:active {
  background: color-mix(in srgb, var(--color-primary) 20%, white);
}
[data-color-theme=secondary] .file-group__file, .file-group__file[data-color-theme=secondary] {
  background: color-mix(in srgb, var(--color-secondary) 10%, white);
}
[data-color-theme=secondary] .file-group__file:hover, [data-color-theme=secondary] .file-group__file:focus, [data-color-theme=secondary] .file-group__file:active, .file-group__file[data-color-theme=secondary]:hover, .file-group__file[data-color-theme=secondary]:focus, .file-group__file[data-color-theme=secondary]:active {
  background: color-mix(in srgb, var(--color-secondary) 20%, white);
}
[data-color-theme=accent] .file-group__file, .file-group__file[data-color-theme=accent] {
  background: color-mix(in srgb, var(--color-accent) 10%, white);
}
[data-color-theme=accent] .file-group__file:hover, [data-color-theme=accent] .file-group__file:focus, [data-color-theme=accent] .file-group__file:active, .file-group__file[data-color-theme=accent]:hover, .file-group__file[data-color-theme=accent]:focus, .file-group__file[data-color-theme=accent]:active {
  background: color-mix(in srgb, var(--color-accent) 20%, white);
}
[data-color-theme=warning] .file-group__file, .file-group__file[data-color-theme=warning] {
  background: color-mix(in srgb, var(--color-warning) 10%, white);
}
[data-color-theme=warning] .file-group__file:hover, [data-color-theme=warning] .file-group__file:focus, [data-color-theme=warning] .file-group__file:active, .file-group__file[data-color-theme=warning]:hover, .file-group__file[data-color-theme=warning]:focus, .file-group__file[data-color-theme=warning]:active {
  background: color-mix(in srgb, var(--color-warning) 20%, white);
}
[data-color-theme=error] .file-group__file, .file-group__file[data-color-theme=error] {
  background: color-mix(in srgb, var(--color-error) 10%, white);
}
[data-color-theme=error] .file-group__file:hover, [data-color-theme=error] .file-group__file:focus, [data-color-theme=error] .file-group__file:active, .file-group__file[data-color-theme=error]:hover, .file-group__file[data-color-theme=error]:focus, .file-group__file[data-color-theme=error]:active {
  background: color-mix(in srgb, var(--color-error) 20%, white);
}
[data-color-theme=light] .file-group__file, .file-group__file[data-color-theme=light] {
  background: color-mix(in srgb, var(--color-light) 10%, white);
}
[data-color-theme=light] .file-group__file:hover, [data-color-theme=light] .file-group__file:focus, [data-color-theme=light] .file-group__file:active, .file-group__file[data-color-theme=light]:hover, .file-group__file[data-color-theme=light]:focus, .file-group__file[data-color-theme=light]:active {
  background: color-mix(in srgb, var(--color-light) 20%, white);
}
[data-color-theme=dark] .file-group__file, .file-group__file[data-color-theme=dark] {
  background: color-mix(in srgb, var(--color-dark) 10%, white);
}
[data-color-theme=dark] .file-group__file:hover, [data-color-theme=dark] .file-group__file:focus, [data-color-theme=dark] .file-group__file:active, .file-group__file[data-color-theme=dark]:hover, .file-group__file[data-color-theme=dark]:focus, .file-group__file[data-color-theme=dark]:active {
  background: color-mix(in srgb, var(--color-dark) 20%, white);
}
[data-color-theme=white] .file-group__file, .file-group__file[data-color-theme=white] {
  background: color-mix(in srgb, var(--color-white) 10%, white);
}
[data-color-theme=white] .file-group__file:hover, [data-color-theme=white] .file-group__file:focus, [data-color-theme=white] .file-group__file:active, .file-group__file[data-color-theme=white]:hover, .file-group__file[data-color-theme=white]:focus, .file-group__file[data-color-theme=white]:active {
  background: color-mix(in srgb, var(--color-white) 20%, white);
}
.file-group__file__icon {
  font-size: 2rem;
}
[data-color-theme=primary] .file-group__file__icon {
  color: var(--color-primary);
}
[data-color-theme=secondary] .file-group__file__icon {
  color: var(--color-secondary);
}
[data-color-theme=accent] .file-group__file__icon {
  color: var(--color-accent);
}
[data-color-theme=warning] .file-group__file__icon {
  color: var(--color-warning);
}
[data-color-theme=error] .file-group__file__icon {
  color: var(--color-error);
}
[data-color-theme=light] .file-group__file__icon {
  color: var(--color-light);
}
[data-color-theme=dark] .file-group__file__icon {
  color: var(--color-dark);
}
[data-color-theme=white] .file-group__file__icon {
  color: var(--color-white);
}
.file-group__file__content__title {
  font-weight: var(--font-weight-semibold);
  display: block;
}
[data-color-theme=primary] .file-group__file__content__title {
  color: var(--color-primary);
}
[data-color-theme=secondary] .file-group__file__content__title {
  color: var(--color-secondary);
}
[data-color-theme=accent] .file-group__file__content__title {
  color: var(--color-accent);
}
[data-color-theme=warning] .file-group__file__content__title {
  color: var(--color-warning);
}
[data-color-theme=error] .file-group__file__content__title {
  color: var(--color-error);
}
[data-color-theme=light] .file-group__file__content__title {
  color: var(--color-light);
}
[data-color-theme=dark] .file-group__file__content__title {
  color: var(--color-dark);
}
[data-color-theme=white] .file-group__file__content__title {
  color: var(--color-white);
}
.file-group__file__content__description {
  display: block;
  font-size: var(--font-size-sm);
  line-height: 1.3;
  font-weight: var(--font-weight-light);
}
.file-group__file__content__meta {
  margin-block-start: var(--spacing-xxs);
  display: flex;
  gap: var(--spacing-sm);
  justify-content: flex-end;
}
.file-group__file__content__meta__size, .file-group__file__content__meta__date {
  font-size: var(--font-size-sm);
}

.link-group__link {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-sm);
  margin-block-end: var(--spacing-sm);
  text-decoration: none;
  padding: var(--spacing-sm);
  transition: background 0.2s linear;
}
[data-color-theme=primary] .link-group__link, .link-group__link[data-color-theme=primary] {
  background: color-mix(in srgb, var(--color-primary) 10%, white);
}
[data-color-theme=primary] .link-group__link:hover, [data-color-theme=primary] .link-group__link:focus, [data-color-theme=primary] .link-group__link:active, .link-group__link[data-color-theme=primary]:hover, .link-group__link[data-color-theme=primary]:focus, .link-group__link[data-color-theme=primary]:active {
  background: color-mix(in srgb, var(--color-primary) 20%, white);
}
[data-color-theme=secondary] .link-group__link, .link-group__link[data-color-theme=secondary] {
  background: color-mix(in srgb, var(--color-secondary) 10%, white);
}
[data-color-theme=secondary] .link-group__link:hover, [data-color-theme=secondary] .link-group__link:focus, [data-color-theme=secondary] .link-group__link:active, .link-group__link[data-color-theme=secondary]:hover, .link-group__link[data-color-theme=secondary]:focus, .link-group__link[data-color-theme=secondary]:active {
  background: color-mix(in srgb, var(--color-secondary) 20%, white);
}
[data-color-theme=accent] .link-group__link, .link-group__link[data-color-theme=accent] {
  background: color-mix(in srgb, var(--color-accent) 10%, white);
}
[data-color-theme=accent] .link-group__link:hover, [data-color-theme=accent] .link-group__link:focus, [data-color-theme=accent] .link-group__link:active, .link-group__link[data-color-theme=accent]:hover, .link-group__link[data-color-theme=accent]:focus, .link-group__link[data-color-theme=accent]:active {
  background: color-mix(in srgb, var(--color-accent) 20%, white);
}
[data-color-theme=warning] .link-group__link, .link-group__link[data-color-theme=warning] {
  background: color-mix(in srgb, var(--color-warning) 10%, white);
}
[data-color-theme=warning] .link-group__link:hover, [data-color-theme=warning] .link-group__link:focus, [data-color-theme=warning] .link-group__link:active, .link-group__link[data-color-theme=warning]:hover, .link-group__link[data-color-theme=warning]:focus, .link-group__link[data-color-theme=warning]:active {
  background: color-mix(in srgb, var(--color-warning) 20%, white);
}
[data-color-theme=error] .link-group__link, .link-group__link[data-color-theme=error] {
  background: color-mix(in srgb, var(--color-error) 10%, white);
}
[data-color-theme=error] .link-group__link:hover, [data-color-theme=error] .link-group__link:focus, [data-color-theme=error] .link-group__link:active, .link-group__link[data-color-theme=error]:hover, .link-group__link[data-color-theme=error]:focus, .link-group__link[data-color-theme=error]:active {
  background: color-mix(in srgb, var(--color-error) 20%, white);
}
[data-color-theme=light] .link-group__link, .link-group__link[data-color-theme=light] {
  background: color-mix(in srgb, var(--color-light) 10%, white);
}
[data-color-theme=light] .link-group__link:hover, [data-color-theme=light] .link-group__link:focus, [data-color-theme=light] .link-group__link:active, .link-group__link[data-color-theme=light]:hover, .link-group__link[data-color-theme=light]:focus, .link-group__link[data-color-theme=light]:active {
  background: color-mix(in srgb, var(--color-light) 20%, white);
}
[data-color-theme=dark] .link-group__link, .link-group__link[data-color-theme=dark] {
  background: color-mix(in srgb, var(--color-dark) 10%, white);
}
[data-color-theme=dark] .link-group__link:hover, [data-color-theme=dark] .link-group__link:focus, [data-color-theme=dark] .link-group__link:active, .link-group__link[data-color-theme=dark]:hover, .link-group__link[data-color-theme=dark]:focus, .link-group__link[data-color-theme=dark]:active {
  background: color-mix(in srgb, var(--color-dark) 20%, white);
}
[data-color-theme=white] .link-group__link, .link-group__link[data-color-theme=white] {
  background: color-mix(in srgb, var(--color-white) 10%, white);
}
[data-color-theme=white] .link-group__link:hover, [data-color-theme=white] .link-group__link:focus, [data-color-theme=white] .link-group__link:active, .link-group__link[data-color-theme=white]:hover, .link-group__link[data-color-theme=white]:focus, .link-group__link[data-color-theme=white]:active {
  background: color-mix(in srgb, var(--color-white) 20%, white);
}
.link-group__link__icon {
  font-size: 2rem;
}
[data-color-theme=primary] .link-group__link__icon {
  color: var(--color-primary);
}
[data-color-theme=secondary] .link-group__link__icon {
  color: var(--color-secondary);
}
[data-color-theme=accent] .link-group__link__icon {
  color: var(--color-accent);
}
[data-color-theme=warning] .link-group__link__icon {
  color: var(--color-warning);
}
[data-color-theme=error] .link-group__link__icon {
  color: var(--color-error);
}
[data-color-theme=light] .link-group__link__icon {
  color: var(--color-light);
}
[data-color-theme=dark] .link-group__link__icon {
  color: var(--color-dark);
}
[data-color-theme=white] .link-group__link__icon {
  color: var(--color-white);
}
.link-group__link__content__title {
  font-weight: var(--font-weight-bold);
  font-size: 1.125rem;
  display: block;
}
[data-color-theme=primary] .link-group__link__content__title {
  color: var(--color-primary);
}
[data-color-theme=secondary] .link-group__link__content__title {
  color: var(--color-secondary);
}
[data-color-theme=accent] .link-group__link__content__title {
  color: var(--color-accent);
}
[data-color-theme=warning] .link-group__link__content__title {
  color: var(--color-warning);
}
[data-color-theme=error] .link-group__link__content__title {
  color: var(--color-error);
}
[data-color-theme=light] .link-group__link__content__title {
  color: var(--color-light);
}
[data-color-theme=dark] .link-group__link__content__title {
  color: var(--color-dark);
}
[data-color-theme=white] .link-group__link__content__title {
  color: var(--color-white);
}
.link-group__link__content__meta {
  margin-block-start: var(--spacing-xxs);
  display: flex;
  gap: var(--spacing-sm);
  justify-content: flex-end;
}
.link-group__link__content__meta__size, .link-group__link__content__meta__date {
  font-size: var(--font-size-sm);
}

.steps {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.steps[data-orientation=horizontal] {
  display: grid;
  grid-gap: var(--spacing-md);
  grid-auto-rows: 1fr;
  justify-content: center;
}
@container (min-width: 600px) {
  .steps[data-orientation=horizontal] {
    grid-template-columns: repeat(2, 1fr);
  }
}
@container (min-width: 960px) {
  .steps[data-orientation=horizontal][data-max-per-row="3"], .steps[data-orientation=horizontal][data-max-per-row="5"] {
    grid-template-columns: repeat(3, 1fr);
  }
  .steps[data-orientation=horizontal][data-max-per-row="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
}
@container (min-width: 1100px) {
  .steps[data-orientation=horizontal][data-max-per-row="3"], .steps[data-orientation=horizontal][data-max-per-row="4"], .steps[data-orientation=horizontal][data-max-per-row="5"] {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
@container (min-width: 1100px) {
  .steps[data-orientation=horizontal][data-max-per-row="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  .steps[data-orientation=horizontal][data-max-per-row="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
}
.steps--numbered {
  counter-reset: step-counter;
}
.steps__step {
  min-width: 0;
  display: block;
  position: relative;
}
[data-orientation=horizontal] .steps__step {
  padding-inline: var(--spacing-md);
}
@container (min-width: 1440px) {
  [data-orientation=horizontal] .steps__step {
    padding-inline: var(--spacing-lg);
  }
}
[data-orientation=vertical] .steps__step {
  padding-block: var(--spacing-md);
}
@container (min-width: 1440px) {
  [data-orientation=vertical] .steps__step {
    padding-block: var(--spacing-lg);
  }
}
.steps__step__inner {
  background: var(--color-white);
  padding: var(--spacing-md);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.15);
  height: 100%;
  position: relative;
  z-index: 10;
}
[data-color-theme=primary] .steps__step__inner::before {
  background-color: var(--color-primary);
  color: var(--readable-color-primary);
}
[data-color-theme=secondary] .steps__step__inner::before {
  background-color: var(--color-secondary);
  color: var(--readable-color-secondary);
}
[data-color-theme=accent] .steps__step__inner::before {
  background-color: var(--color-accent);
  color: var(--readable-color-accent);
}
[data-color-theme=warning] .steps__step__inner::before {
  background-color: var(--color-warning);
  color: var(--readable-color-warning);
}
[data-color-theme=error] .steps__step__inner::before {
  background-color: var(--color-error);
  color: var(--readable-color-error);
}
[data-color-theme=light] .steps__step__inner::before {
  background-color: var(--color-light);
  color: var(--readable-color-light);
}
[data-color-theme=dark] .steps__step__inner::before {
  background-color: var(--color-dark);
  color: var(--readable-color-dark);
}
[data-color-theme=white] .steps__step__inner::before {
  background-color: var(--color-white);
  color: var(--readable-color-white);
}
.steps--numbered .steps__step__inner {
  counter-increment: step-counter;
}
.steps--numbered .steps__step__inner::before {
  content: counter(step-counter);
  height: 2rem;
  width: 2rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-semibold);
  padding: var(--spacing-sm);
  line-height: 1;
  margin-block-end: var(--spacing-xs);
  margin-inline-end: var(--spacing-md);
}
.steps__step__inner::after {
  content: "";
  position: absolute;
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  background: var(--color-white);
  transform: rotate(45deg);
  transform-origin: center center;
}
[data-orientation=vertical] .steps__step__inner::after {
  left: 50%;
  bottom: 100%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
[data-orientation=horizontal] .steps__step__inner::after {
  top: 50%;
  left: 100%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.steps__step:last-child .steps__step__inner::after {
  display: none;
}

.icon-with-text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--spacing-sm);
  padding-block: var(--spacing-xs);
}
.icon-with-text__icon {
  width: 2rem;
  min-width: 2rem;
  flex-basis: 2rem;
  overflow-x: hidden;
}
.icon-with-text__icon i, .icon-with-text__icon svg {
  font-size: 2rem;
}
[data-color-theme=primary] .icon-with-text__icon {
  color: var(--color-primary);
}
[data-color-theme=secondary] .icon-with-text__icon {
  color: var(--color-secondary);
}
[data-color-theme=accent] .icon-with-text__icon {
  color: var(--color-accent);
}
[data-color-theme=warning] .icon-with-text__icon {
  color: var(--color-warning);
}
[data-color-theme=error] .icon-with-text__icon {
  color: var(--color-error);
}
[data-color-theme=light] .icon-with-text__icon {
  color: var(--color-light);
}
[data-color-theme=dark] .icon-with-text__icon {
  color: var(--color-dark);
}
[data-color-theme=white] .icon-with-text__icon {
  color: var(--color-white);
}
.icon-with-text__content {
  flex-grow: 1;
  flex-basis: auto;
}
.icon-with-text__content p {
  color: var(--color-primary);
  line-height: 1.2;
}
.icon-with-text__content p span {
  display: block;
}
.icon-with-text__content p span:first-child {
  font-size: var(--font-size-sm);
  color: color-mix(in srgb, var(--color-dark) 80%, white);
}

.image-and-text {
  display: flex;
  flex-direction: column;
}
.image-and-text__image, .image-and-text__content {
  display: flex;
}
@container (max-width: 768px) {
  .image-and-text__image > div {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.image-and-text__image img {
  max-width: 100%;
}
.image-and-text__content {
  position: relative;
  z-index: 200;
}
@container (max-width: 768px) {
  .image-and-text__content > div {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}
.image-and-text__content:nth-of-type(1) {
  margin-block-end: var(--overlay-amount);
}
@container (min-width: 768px) {
  .image-and-text__content:nth-of-type(2) {
    margin-block-start: var(--overlay-amount);
  }
}

.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.banner__image {
  height: 100%;
  width: 100%;
  position: relative;
}
.banner__image .image {
  display: contents;
}
.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__image[data-parallax=true] {
  clip-path: inset(0 0 0 0);
}
.banner__image[data-parallax=true] .image {
  position: static;
  height: 100%;
}
.banner__image[data-parallax=true] img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center bottom;
  z-index: 1;
}
.banner__content, .banner__overlay {
  position: absolute;
  inset: 0 0 0 0;
}
.banner__content {
  z-index: 100;
  display: flex;
}
@container (max-width:768px) {
  .banner__content__inner {
    max-width: 100% !important;
  }
}

.separator {
  border: 0;
  margin: var(--spacing-lg) 0;
  height: 2px;
}
.separator[data-color-theme=primary] {
  background-color: var(--color-primary);
}
.separator[data-color-theme=secondary] {
  background-color: var(--color-secondary);
}
.separator[data-color-theme=accent] {
  background-color: var(--color-accent);
}
.separator[data-color-theme=warning] {
  background-color: var(--color-warning);
}
.separator[data-color-theme=error] {
  background-color: var(--color-error);
}
.separator[data-color-theme=light] {
  background-color: var(--color-light);
}
.separator[data-color-theme=dark] {
  background-color: var(--color-dark);
}
.separator[data-color-theme=white] {
  background-color: var(--color-white);
}
.separator--dots {
  background-color: transparent !important;
  text-align: center;
  height: 2rem;
}
.separator--dots[data-color-theme=primary]:before {
  color: var(--color-primary);
}
.separator--dots[data-color-theme=secondary]:before {
  color: var(--color-secondary);
}
.separator--dots[data-color-theme=accent]:before {
  color: var(--color-accent);
}
.separator--dots[data-color-theme=warning]:before {
  color: var(--color-warning);
}
.separator--dots[data-color-theme=error]:before {
  color: var(--color-error);
}
.separator--dots[data-color-theme=light]:before {
  color: var(--color-light);
}
.separator--dots[data-color-theme=dark]:before {
  color: var(--color-dark);
}
.separator--dots[data-color-theme=white]:before {
  color: var(--color-white);
}
.separator--dots:before {
  content: "······";
  font-size: 2rem;
  letter-spacing: 2rem;
}

/*# sourceMappingURL=blocks.css.map */
