.page-header {
  padding-block: var(--spacing-md);
}
@media (min-width: 960px) {
  .page-header {
    padding-block: var(--spacing-xl);
  }
}
@media (min-width: 1440px) {
  .page-header {
    padding-block: var(--spacing-xxl);
  }
}
@container (min-width: 960px) {
  .page-header {
    padding-block: var(--spacing-xl);
  }
}
.page-header h1 {
  margin-top: var(--spacing-xs);
  margin-bottom: 0;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xs);
  margin-block: var(--spacing-md);
  margin-inline: 0;
}
.breadcrumbs__list__item {
  display: flex;
  font-size: 0.9rem;
}
.breadcrumbs__list__item a {
  color: inherit;
  display: block;
  opacity: 0.75;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.breadcrumbs__list__item a:hover, .breadcrumbs__list__item a:focus, .breadcrumbs__list__item a:active {
  opacity: 1;
  text-decoration-color: currentColor;
}
.breadcrumbs__list__item::after {
  content: "/";
  padding-inline-start: var(--spacing-xs);
  opacity: 0.4;
}

.section-navigation[data-color-theme=primary] {
  background: color-mix(in srgb, var(--color-primary) 5%, white);
  border-left: 0.125rem solid var(--color-primary);
}
.section-navigation[data-color-theme=primary] a {
  color: var(--color-primary);
}
.section-navigation[data-color-theme=secondary] {
  background: color-mix(in srgb, var(--color-secondary) 5%, white);
  border-left: 0.125rem solid var(--color-secondary);
}
.section-navigation[data-color-theme=secondary] a {
  color: var(--color-secondary);
}
.section-navigation[data-color-theme=accent] {
  background: color-mix(in srgb, var(--color-accent) 5%, white);
  border-left: 0.125rem solid var(--color-accent);
}
.section-navigation[data-color-theme=accent] a {
  color: var(--color-accent);
}
.section-navigation[data-color-theme=info] {
  background: color-mix(in srgb, var(--color-info) 5%, white);
  border-left: 0.125rem solid var(--color-info);
}
.section-navigation[data-color-theme=info] a {
  color: var(--color-info);
}
.section-navigation[data-color-theme=warning] {
  background: color-mix(in srgb, var(--color-warning) 5%, white);
  border-left: 0.125rem solid var(--color-warning);
}
.section-navigation[data-color-theme=warning] a {
  color: var(--color-warning);
}
.section-navigation[data-color-theme=success] {
  background: color-mix(in srgb, var(--color-success) 5%, white);
  border-left: 0.125rem solid var(--color-success);
}
.section-navigation[data-color-theme=success] a {
  color: var(--color-success);
}
.section-navigation[data-color-theme=error] {
  background: color-mix(in srgb, var(--color-error) 5%, white);
  border-left: 0.125rem solid var(--color-error);
}
.section-navigation[data-color-theme=error] a {
  color: var(--color-error);
}
.section-navigation[data-color-theme=light] {
  background: color-mix(in srgb, var(--color-light) 5%, white);
  border-left: 0.125rem solid var(--color-light);
}
.section-navigation[data-color-theme=light] a {
  color: var(--color-light);
}
.section-navigation[data-color-theme=dark] {
  background: color-mix(in srgb, var(--color-dark) 5%, white);
  border-left: 0.125rem solid var(--color-dark);
}
.section-navigation[data-color-theme=dark] a {
  color: var(--color-dark);
}
.section-navigation[data-color-theme=white] {
  background: color-mix(in srgb, var(--color-white) 5%, white);
  border-left: 0.125rem solid var(--color-white);
}
.section-navigation[data-color-theme=white] a {
  color: var(--color-white);
}
.section-navigation__menu-list {
  display: block;
  padding: 0;
  margin: 0;
}
.section-navigation__menu-list__item {
  display: block;
}
.section-navigation__menu-list__item__link {
  display: block;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: transparent;
}
.section-navigation__menu-list__item__link:hover, .section-navigation__menu-list__item__link:focus, .section-navigation__menu-list__item__link:active {
  text-decoration-color: currentColor;
}
[data-color-theme=primary] .section-navigation__menu-list__item__link:hover, [data-color-theme=primary] .section-navigation__menu-list__item__link:focus, [data-color-theme=primary] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-primary) 20%, white);
  border-color: var(--color-primary);
}
[data-color-theme=secondary] .section-navigation__menu-list__item__link:hover, [data-color-theme=secondary] .section-navigation__menu-list__item__link:focus, [data-color-theme=secondary] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-secondary) 20%, white);
  border-color: var(--color-secondary);
}
[data-color-theme=accent] .section-navigation__menu-list__item__link:hover, [data-color-theme=accent] .section-navigation__menu-list__item__link:focus, [data-color-theme=accent] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-accent) 20%, white);
  border-color: var(--color-accent);
}
[data-color-theme=info] .section-navigation__menu-list__item__link:hover, [data-color-theme=info] .section-navigation__menu-list__item__link:focus, [data-color-theme=info] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-info) 20%, white);
  border-color: var(--color-info);
}
[data-color-theme=warning] .section-navigation__menu-list__item__link:hover, [data-color-theme=warning] .section-navigation__menu-list__item__link:focus, [data-color-theme=warning] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-warning) 20%, white);
  border-color: var(--color-warning);
}
[data-color-theme=success] .section-navigation__menu-list__item__link:hover, [data-color-theme=success] .section-navigation__menu-list__item__link:focus, [data-color-theme=success] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-success) 20%, white);
  border-color: var(--color-success);
}
[data-color-theme=error] .section-navigation__menu-list__item__link:hover, [data-color-theme=error] .section-navigation__menu-list__item__link:focus, [data-color-theme=error] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-error) 20%, white);
  border-color: var(--color-error);
}
[data-color-theme=light] .section-navigation__menu-list__item__link:hover, [data-color-theme=light] .section-navigation__menu-list__item__link:focus, [data-color-theme=light] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-light) 20%, white);
  border-color: var(--color-light);
}
[data-color-theme=dark] .section-navigation__menu-list__item__link:hover, [data-color-theme=dark] .section-navigation__menu-list__item__link:focus, [data-color-theme=dark] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-dark) 20%, white);
  border-color: var(--color-dark);
}
[data-color-theme=white] .section-navigation__menu-list__item__link:hover, [data-color-theme=white] .section-navigation__menu-list__item__link:focus, [data-color-theme=white] .section-navigation__menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-white) 20%, white);
  border-color: var(--color-white);
}
.section-navigation__menu-list__item .menu-list {
  display: block;
  padding: 0;
  margin: 0;
}
[data-color-theme=primary] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-primary) 20%, white);
  border-color: var(--color-primary);
}
[data-color-theme=secondary] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-secondary) 20%, white);
  border-color: var(--color-secondary);
}
[data-color-theme=accent] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-accent) 20%, white);
  border-color: var(--color-accent);
}
[data-color-theme=info] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-info) 20%, white);
  border-color: var(--color-info);
}
[data-color-theme=warning] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-warning) 20%, white);
  border-color: var(--color-warning);
}
[data-color-theme=success] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-success) 20%, white);
  border-color: var(--color-success);
}
[data-color-theme=error] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-error) 20%, white);
  border-color: var(--color-error);
}
[data-color-theme=light] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-light) 20%, white);
  border-color: var(--color-light);
}
[data-color-theme=dark] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-dark) 20%, white);
  border-color: var(--color-dark);
}
[data-color-theme=white] .section-navigation__menu-list__item .menu-list :has([aria-current=page]) {
  background: color-mix(in srgb, var(--color-white) 20%, white);
  border-color: var(--color-white);
}
.section-navigation__menu-list__item .menu-list__item {
  display: block;
}
.section-navigation__menu-list__item .menu-list__item__link {
  display: flex;
  padding: var(--spacing-xxs) var(--spacing-sm);
  align-items: center;
  justify-content: space-between;
  text-decoration: underline;
  text-decoration-color: transparent;
  border-left: 0.25rem solid transparent;
}
.section-navigation__menu-list__item .menu-list__item__link:hover, .section-navigation__menu-list__item .menu-list__item__link:focus, .section-navigation__menu-list__item .menu-list__item__link:active {
  text-decoration-color: currentColor;
}
[data-color-theme=primary] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=primary] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=primary] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-primary) 20%, white);
  border-color: var(--color-primary);
}
[data-color-theme=secondary] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=secondary] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=secondary] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-secondary) 20%, white);
  border-color: var(--color-secondary);
}
[data-color-theme=accent] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=accent] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=accent] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-accent) 20%, white);
  border-color: var(--color-accent);
}
[data-color-theme=info] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=info] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=info] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-info) 20%, white);
  border-color: var(--color-info);
}
[data-color-theme=warning] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=warning] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=warning] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-warning) 20%, white);
  border-color: var(--color-warning);
}
[data-color-theme=success] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=success] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=success] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-success) 20%, white);
  border-color: var(--color-success);
}
[data-color-theme=error] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=error] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=error] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-error) 20%, white);
  border-color: var(--color-error);
}
[data-color-theme=light] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=light] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=light] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-light) 20%, white);
  border-color: var(--color-light);
}
[data-color-theme=dark] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=dark] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=dark] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-dark) 20%, white);
  border-color: var(--color-dark);
}
[data-color-theme=white] .section-navigation__menu-list__item .menu-list__item__link:hover, [data-color-theme=white] .section-navigation__menu-list__item .menu-list__item__link:focus, [data-color-theme=white] .section-navigation__menu-list__item .menu-list__item__link:active {
  background: color-mix(in srgb, var(--color-white) 20%, white);
  border-color: var(--color-white);
}
[data-color-theme=primary] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-primary) 20%, white);
  border-color: var(--color-primary);
}
[data-color-theme=secondary] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-secondary) 20%, white);
  border-color: var(--color-secondary);
}
[data-color-theme=accent] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-accent) 20%, white);
  border-color: var(--color-accent);
}
[data-color-theme=info] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-info) 20%, white);
  border-color: var(--color-info);
}
[data-color-theme=warning] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-warning) 20%, white);
  border-color: var(--color-warning);
}
[data-color-theme=success] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-success) 20%, white);
  border-color: var(--color-success);
}
[data-color-theme=error] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-error) 20%, white);
  border-color: var(--color-error);
}
[data-color-theme=light] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-light) 20%, white);
  border-color: var(--color-light);
}
[data-color-theme=dark] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-dark) 20%, white);
  border-color: var(--color-dark);
}
[data-color-theme=white] .section-navigation__menu-list__item .menu-list__item__link[aria-current=page] {
  background: color-mix(in srgb, var(--color-white) 20%, white);
  border-color: var(--color-white);
}
.section-navigation__menu-list__item .menu-list__item__link[target=_blank]::after {
  font-family: "Font Awesome 6 Pro Light";
  content: "\f08e";
  font-size: 0.8rem;
}
.section-navigation__menu-list__item .menu-list__item .menu-list__item {
  font-size: 0.9rem;
}

.site-header {
  position: relative;
  z-index: 500;
}
.site-header .container {
  display: flex;
  flex-wrap: nowrap;
}
.site-header__logo {
  display: block;
  max-width: 8rem;
}
@container (min-width: 960px) {
  .site-header__logo {
    max-width: 11rem;
  }
}
.site-header__logo img {
  width: 100%;
  max-width: 11rem;
}
.site-header [data-vue-component=site-header__responsive] {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-wrap: wrap;
}
.site-header__responsive__start, .site-header__responsive__menu, .site-header__responsive__end {
  display: contents;
}
.site-header__responsive__menu-toggle {
  display: block;
  appearance: none;
  background: none;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  padding: var(--spacing-sm);
  margin-left: auto;
  transition: color 0.2s ease-in-out;
  position: relative;
  z-index: 9999;
}
.site-header__responsive__menu-toggle:hover, .site-header__responsive__menu-toggle:focus, .site-header__responsive__menu-toggle:active {
  color: var(--color-secondary);
}
.site-header__responsive__content {
  display: block;
  width: 100%;
  flex-basis: 100%;
  padding-inline: var(--spacing-sm);
}
.site-header__responsive--default .site-header__responsive__content {
  height: 0;
  max-height: 0;
  min-height: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.site-header__responsive--default .site-header__responsive__content[data-open=true] {
  min-height: 200px;
  opacity: 1;
  max-height: 100vh;
  transition: all 0.3s ease-in-out;
  height: auto;
}
.site-header__responsive--overlay .site-header__responsive__content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  background: var(--color-primary);
  color: var(--readable-color-primary);
  z-index: -100;
  opacity: 0;
  visibility: hidden;
}
body.admin-bar .site-header__responsive--overlay .site-header__responsive__content {
  top: 2rem;
}
.site-header__responsive--overlay .site-header__responsive__content[data-open=true] {
  z-index: 9995;
  opacity: 1;
  visibility: visible;
}
body .site-header__responsive--overlay .site-header__responsive__content[data-open=true] {
  overflow: hidden;
}
.site-header__responsive--overlay .site-header__responsive__content[data-open=true] > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.site-header__responsive--overlay .site-header__responsive__content[data-open=true] > div .site-header__menu-list {
  display: block;
  text-align: center;
}
.site-header__menu {
  container-type: inline-size;
  flex-grow: 1;
  padding-block: var(--spacing-lg);
}
.site-header__menu-list {
  margin-inline: 0;
  display: block;
}
@container (min-width: 600px) {
  .site-header__menu-list {
    display: flex;
    justify-content: flex-end;
  }
}
.site-header__menu--responsive .site-header__menu-list {
  display: block !important;
}
.site-header__menu-list__item {
  position: relative;
  display: inline-block;
  padding-bottom: var(--spacing-xs);
}
.site-header__menu-list__item__link {
  display: block;
  color: var(--color-primary);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.2s ease-in-out;
  flex-grow: 1;
}
.site-header__menu-list__item__link:hover, .site-header__menu-list__item__link:focus, .site-header__menu-list__item__link:active, .site-header__menu-list__item__link[aria-current=page] {
  text-decoration-color: currentColor;
}
.site-header__menu-list__item__link[target=_blank] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.site-header__menu-list__item__link[target=_blank]:after {
  content: "\f061";
  font-family: "Font Awesome 6 Pro Solid";
  padding-inline-start: var(--spacing-xs);
}
.site-header__menu-list__item:has([aria-current=page]) > a {
  text-decoration-color: currentColor;
  color: var(--color-secondary);
}
.site-header__responsive .site-header__menu-list__item {
  display: block;
  transition: background 0.2s ease-in-out;
  padding-inline: var(--spacing-xs);
}
.site-header__responsive .site-header__menu-list__item:hover, .site-header__responsive .site-header__menu-list__item:focus-within {
  background: var(--color-light);
}
.site-header__responsive .site-header__menu-list__item:has(button) {
  padding-inline-end: 0;
  padding-block: 0;
}
.site-header__responsive .site-header__menu-list__item button {
  padding: var(--spacing-xs);
  transition: all 0.2s ease-in-out;
}
.site-header__responsive .site-header__menu-list__item button:hover, .site-header__responsive .site-header__menu-list__item button:focus, .site-header__responsive .site-header__menu-list__item button:active {
  background: color-mix(in srgb, var(--color-light) 90%, black);
}
.site-header__menu-list__item:has(.menu-list--responsive) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.site-header__menu-list__item__toggle {
  cursor: pointer;
  background: none;
  appearance: none;
  border: 0;
  font-size: 1em;
  transition: color 0.2s ease-in-out;
}
.site-header__menu-list__item__toggle:hover, .site-header__menu-list__item__toggle:focus, .site-header__menu-list__item__toggle:active {
  color: var(--color-secondary);
}
.site-header__menu-list__item__toggle i, .site-header__menu-list__item__toggle svg {
  transition: transform 0.3s ease;
  transform-origin: center center;
}
.site-header__menu-list__item__toggle[aria-expanded=true] i, .site-header__menu-list__item__toggle[aria-expanded=true] svg {
  transform: rotate(180deg);
}
.site-header__menu-list__item .menu-list {
  margin-top: 0;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  height: 0;
  transition: all 0.2s linear;
  min-width: 10rem;
  padding-block: var(--spacing-xxs);
  background: var(--color-primary);
  margin-inline: 0;
  color: var(--readable-color-primary);
}
.site-header__menu-list__item .menu-list__item {
  display: block;
}
.site-header__menu-list__item .menu-list__item__link {
  display: block;
  padding: var(--spacing-xs) var(--spacing-sm);
  white-space: nowrap;
  font-size: var(--font-size-sm);
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.2s ease-in-out;
  flex-grow: 1;
}
.site-header__menu-list__item .menu-list__item__link:hover, .site-header__menu-list__item .menu-list__item__link:focus, .site-header__menu-list__item .menu-list__item__link:active {
  text-decoration-color: currentColor;
  background: rgba(0, 0, 0, 0.25);
}
.site-header__menu-list__item .menu-list__item__link[target=_blank] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.site-header__menu-list__item .menu-list__item__link[target=_blank]:after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro Solid";
  display: inline-block;
  padding-inline-start: var(--spacing-xs);
  font-size: 0.85em;
}
.site-header__menu-list__item .menu-list--responsive {
  position: relative;
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  background: transparent;
  margin: 0;
  padding: 0;
  opacity: 0;
}
.site-header__menu-list__item .menu-list--responsive[data-open=true] {
  opacity: 1;
}
.site-header__menu-list__item .menu-list--responsive .menu-list__item {
  margin: 0;
}
.site-header__menu-list__item .menu-list--responsive .menu-list__item__link {
  padding: 0;
  background: transparent;
  color: inherit;
}
.site-header__menu-list__item:hover .menu-list, .site-header__menu-list__item:focus-within .menu-list {
  opacity: 1;
  height: auto;
}

.site-footer {
  padding-block: var(--spacing-lg);
}
@container (min-width: 960px) {
  .site-footer {
    padding-block: var(--spacing-xl);
  }
}
.site-footer a {
  color: inherit;
}
.site-footer__menu-list {
  display: block;
}
.site-footer__menu-list__item {
  display: block;
  margin-block-end: var(--spacing-sm);
}
.site-footer__menu-list .menu-list {
  margin-inline-start: 0;
}

/*# sourceMappingURL=template-parts.css.map */
